body{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: #f9edfd;
}
.navbar {
	background: #c076d17b;
}

.navbar a {
	display: inline-block;
	padding: 25px;
	text-align: center;
	color: #000;
	transition: .4s ease-out all;
	text-decoration: none;
	font-weight: bold;

}

.navbar a:hover {
	background: #993BC7;
	color: #fff;
	text-decoration: none;
}

.contenedor {
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: center;
	width: 100%;
}

#logo {
	width: 30%;
}

#banner {
	display: flex;
	justify-content: center;
	padding: 40px 0px 0px 0px;
	border-bottom:#c076d17b 5px solid;
	width: 100%;
}

#formulario {
    display: flex;
    width: 70%;
}

#divformulario {
    display: flex;
    justify-content: center;
}

input[type=text], select {
    width: 100%;
    padding: 10px;
    margin: 7px;
    display: flex;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;

  }

.inputbutton {
    width: 20%;
    background-color:#c076d17b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
  }
  
.inputbutton:hover {
    background-color:#993BC7;
}

#header {

}

